* {
  font-size: 12px;
  font-family: "Terminus (TTF)";
}

window#waybar {
  background: rgba(0,0,0,0.3);
}

#battery {
  background: rgba(0,0,0,0.5);
  padding: 5px;
  color: #c5c8c6;
}

#custom-quit {
  margin: 0px 3px 0px 0px;
  padding: 5px 7px 5px 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 2px solid #1d1f21;
  border-top: 2px solid #1d1f21;
  border-bottom: 2px solid #1d1f21;
  background: #F00;
  color: #FFF;
}

#clock {
  padding: 5px;
  color: #FFF;
  background: rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #c5c8c6;
}

#custom-keyboard {
  background: rgba(0,0,0,0.5);
  color: #c5c8c6;
  padding: 5px 5px 5px 5px;
}

#custom-media {
  border-radius: 10px;
  margin-left: 3px;
  padding: 0px 7px 0px 7px;
  background: rgba(0, 0, 0, 0.5);
  color: #c5c8c6;
}
#pulseaudio {
  margin: 0px 3px 0px 0px;
  padding: 5px 7px 5px 5px;
  background: rgba(0,0,0,0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #c5c8c6;
}

#network {
  background: rgba(0,0,0,0.5);
  color: #c5c8c6;
  padding: 5px;
}

#workspaces button {
  color: #c5c8c6;
  border-bottom: 3px solid transparent;
}

#workspaces button.visible {
  background: rgba(255,255,255,0.5);
  color: #404040;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #404040;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.urgent {
  transition: background 0.5s ease;
  background: rgba(255, 89, 0, 0.5);
  box-shadow: inherit;
  text-shadow: inherit;
  border: rgba(255, 89, 0, 0.7);
}

#tray {
  background: rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
}
